<div *ngFor="let food of foods">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>{{food.name}}</h4>
        </div>
        <div class="panel-body">
            <h5>Calories Count: {{food.calories}}</h5>
            <hr> {{food.details}}
        </div>
        <button (click)="food.editForm = !food.editForm" class="btn btn-info">{{food.editForm ? 'Hide Edit Form' : 'Show Edit Form'}}</button>
        <div class="well" *ngIf="food.editForm">
          <edit-food [food] = "food" (removeSend) = "removeFood($event)"></edit-food>
        </div>
    </div>
</div>
