<div class="well">
  <h4>Filter By:</h4>
  <form (change)="onChange($event.target.value)" class="form-group">
    <div class="radio">
      <label>
        <input type="radio" name="calorie" value="all" checked>All Entries
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="calorie" value="high">High Calories Entries (More than 500)
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="calorie" value="low">Low Calories Entries (Less than 500)
      </label>
    </div>
  </form>
</div>
<div *ngFor="let food of foods | calorie: filterByCalorie">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>{{food.name}}</h4>
        </div>
        <div class="panel-body">
            <h4><span id="calorie">Calories Count: {{food.calories}}</span></h4>
            <hr>
            <blockquote>
                {{food.details}}
            </blockquote>
            <button (click)="food.editForm = !food.editForm" class="btn btn-info">{{food.editForm ? 'Hide Edit Form' : 'Show Edit Form'}}</button>
            <br><br>
            <div class="well" *ngIf="food.editForm">
                <food-edit [food]="food" (removeSend)="removeFood($event)"></food-edit>
            </div>
        </div>
    </div>
</div>
